@model MovieStatusViewModel

<tr>
    <td>@Model.MovieTitle</td>
    <td>@Model.BorrowerName</td>
    <td>@Model.BorrowerAddress</td>
    <td>@Model.DateBorrowed</td>
    <td>@Model.DateReturned</td>
    <td>@Model.ExpirationDate</td>
</tr>