@model ProductFormModel
@{
    ViewData["Title"] = "Add Pictures";
}

<div class="row">
    <h2 class="text center">Add pictures to this product</h2>
    <div class="col s4"></div>
    <div class="col s4">
        <form asp-controller="Product" asp-action="AddPicture" method="post" enctype="multipart/form-data">
            <div>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @readonly = "readonly" })
            </div>
            <div>
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @readonly = "readonly", rows = 10, cols=50, style="height:auto" })
            </div>

            <div>
                @foreach (var picture in Model.Pictures)
                {
                    <a target="_blank" href="@picture.Path">
                        <img src="@picture.Path" height="150" />
                    </a>
                    <a asp-controller="Product" asp-action="DeletePicture" asp-route-id="@picture.Id" class="btn waves-effect waves-yellow">Delete this Picture</a>
                }
            </div>

            <div>
                <input type="file" class="grey-text text-lighten" name="files" multiple />
                <input type="submit" asp-route-id="@Model.Id" class="btn btn-link navbar-btn navbar-link" name="files" id="submitID" value="Upload Photo" />
            </div>
        </form>
    </div>
    <div class="col s4"></div>
</div>


