@model ProductFormModel
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col s4"></div>
    <div class="col s4">
        <h2 class="text center">Product Details</h2>
        <form asp-controller="Product" asp-action="Details" method="post">
            <div>
                <div>
                    @Html.LabelFor(m => m.Name)
                </div>
                <div>
                    @Html.TextBoxFor(m => m.Name, new { @readonly = "readonly" })
                </div>
            </div>
            <div>
                @Html.LabelFor(m => m.Description)
                <div>
                    @Html.TextAreaFor(m => m.Description, new { @readonly = "readonly", rows=10, style="height:auto" })
                </div>
            </div>

            <div>
                @foreach (var picture in Model.Pictures)
                {
                    <a target="_blank" href="@picture.Path">
                        <img src="@picture.Path" height="150" />
                    </a>
                    <a asp-controller="Product" asp-action="DeletePicture" asp-route-id="@picture.Id" class="btn waves-effect waves-red">Delete this Picture</a>
                }
            </div>

            <a asp-controller="Auction" asp-action="Create" asp-route-id="@Model.Id" class="btn waves-effect waves-orange grey">Sell</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn waves-effect waves-yellow">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn waves-effect red">Delete</a>            
        </form>
    </div>
    <div class="col s4"></div>
</div>