@model BookStatusViewModel

<tr>
    <td>@Model.BookTitle</td>
    <td>@Model.BorrowerName</td>
    <td>@Model.BorrowerAddress</td>
    <td>@Model.DateBorrowed</td>
    <td>@Model.DateReturned</td>
    <td>@Model.ExpirationDate</td>
</tr>